<?xml version="1.0" encoding="UTF-8"?>
<java version="1.7.0_79" class="java.beans.XMLDecoder">
 <object class="padtools.Setting">

  <!-- 「保存」メニューの無効化
  <void property="disableSaveMenu">
   <boolean>true</boolean>
  </void>
  -->

  <!-- ツールバー無効化
  <void property="disableToolbar">
   <boolean>true</boolean>
  </void>
  -->

 </object>
</java>
